@import "main-install-app-button.scss";

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }




#app {
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
  background-color: #2991e5;
  min-height: 100vh;
  padding: 0;
  // padding: 10px;

  // display: grid;
  // grid-gap: 0;
  // grid-template-columns: 1fr;
  // grid-template-rows: 0.2fr auto auto;
  // grid-auto-flow: row;
  // background-color: #2991e5;
  display: flex;
  flex-direction: column;

  .header {
    background-color: #7cc4ff;
    min-height: 20vh;
    .score-header {
      color: #1f5f92;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
  }
  
  .footer {
    // min-height: 0;
    // padding-bottom: 20vh;
    background-color: #17507f;
    flex: 1 1 auto;
  }
  
  .grid-container {
    // min-height: 60vh;
    // min-height: 0;
    margin: 0 auto;
    width: calc(100% - 20px);
    padding: 0px 10px;
    .grid {
      position: relative;
      background: transparent;
      // background-color: #111111;
      color: #444;
      display: grid;
      grid-gap: 2px;
      grid-template-columns: repeat(10, 0.1fr);
      grid-template-rows: repeat(10, 0.1fr);
      grid-auto-flow: row;

      grid-template-rows: auto;
      grid-auto-flow: row;
      align-items: stretch;

      max-width: 60vmax;
      margin: 0 auto;
      
      // width: calc(100% - 10px);
      // height: 0;
      // padding: 5px 5px calc(100% - 10px);
      // height: 0;
      padding: 5px;
height: auto;
      &:before {
        content: " ";
        position: absolute;
        background: url(src/imgs/grid-bg.png) center no-repeat transparent;
      background-size: 100%;
      image-rendering: pixelated;
      top: -10px;
      right: -5px;
      bottom: -10px;
      left: -5px;
      
      }
      .box {
        position: relative;
        background-color: #444;
        color: #fff;
        border-radius: 20%;
        box-sizing: content-box;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        box-sizing: border-box;
      }
    }
  }
}